<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FxCop Rule set" ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1041" Action="Info" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1308" Action="Info" />
    <Rule Id="CA1717" Action="Info" />
    <Rule Id="CA1724" Action="Info" />
    <Rule Id="CA1801" Action="Error" />
    <Rule Id="CA1814" Action="Info" />
    <Rule Id="CA1819" Action="Error" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2225" Action="Info" />
    <Rule Id="CA2227" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1822" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="None" />
  </Rules>
</RuleSet>